<!-- generic footer -->
footer
  div
    .icons
      a(href="https://www.freecodecamp.com/chazmcgrill")
        i(aria-hidden="true").fa.fa-free-code-camp
      a(href="https://twitter.com/charlietcoder")
        i(aria-hidden="true").fa.fa-twitter
      a(href="https://github.com/chazmcgrill")
        i(aria-hidden="true").fa.fa-github
      a(href="https://www.linkedin.com/in/charliejbtaylor/")
        i(aria-hidden="true").fa.fa-linkedin
      a(href="https://codepen.io/chazmcgrill/")
        i(aria-hidden="true").fa.fa-codepen
    p designed and coded by <a href="https://www.charlietaylorcoder.com">charlie taylor</a>