doctype html
html(lang="en")
  head
    title Weathers - Local Weather App
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://use.fontawesome.com/d891ebaa12.js")
    link(rel="stylesheet" href="style.css")
    
  body
    .site-content
      h1 weathers
      .container
        #icon.icon
        .weather
        .location
        .temp-box
          .temp#tempc
          .temp#tempf.hidden
        button.tempChange convert to &deg;
          span.altTemp F

    include includes/_footer.pug
        
    script(src="app.js")
